<div class="nav-container">
    <header>
        <div class="author-info">
            <div class="name"><a href="/">Folgert Karsdorp</a></div>
        </div>
        <nav>
            <ul>
                <li><a href="https://twitter.com/FolgertK" target="_blank">Twitter</a></li>
                <li><a href="https://github.com/fbkarsdorp" target="_blank">Github</a></li>
                <li><a href="mailto:folgert.karsdorp@meertens.knaw.nl">E-mail</a></li>
            </ul>
        </nav>
    </header>
</div>