@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

html,
body {
  overscroll-behavior: none;
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  background: #161618;
  color: #8E8E8E;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: background .3s ease;
  font-family: 'Fira Code', monospace;
}

a, .url {
  transition: color .3s ease;
  text-decoration: none;
  color: #D1D1D1;
}


a:hover {
  color: #FFF;
}

::-moz-selection { color: #0099e5}
::selection { color: #0099e5; }

.container {
  display: flex;
  flex: 1 0 320px;
  height: 100vh;
  justify-items: center;
  max-width: 500px;
  grid-gap: 10px;
  padding: 0 20px;
  max-width: 100%;
  overflow-y: auto;
  margin: 0 auto;
  opacity: 0;

  animation-name: fadeIn;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

.fixed {
    margin: 10px 20px;
    position: fixed;
    max-width: 600px;
    z-index: 1;
}

main, .publist {
  padding: 10px 0;
}

main h1,
main h2 {
  margin: 0;
}

main h1 {
  margin-bottom: 10px;
  color: #FFF;
  font-weight: 400;
  font-size: 50px;
}

.YEAR {
    display: none;
}

main h2 {
  color: #8E8E8E;
  font-weight: 300;
  font-size: 20px;
}

.title {
    font-weight: 300;
    font-size: 15px;
}

footer {
    justify-content: space-around;
}

footer a {
  font-weight: 400;
  font-size: 15px;
}

.abstract-wrapper {
    display: flex;
    flex-direction: row;
}

.show-abstract {
    margin: auto;
    font-size: 10px;    
}

.bibtexentry {
    display: inline;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


@media only screen and (max-width: 990px) {
  main h1 { font-size: 40px; }
  main h2 { font-size: 18px; }

  footer {
    flex-direction: column;
  }

  .fixed {
      position: relative;
  }

  #abstract-box {
      display: none;
  }

  .container {
      display: block;
      overflow-y: inherit;
  }

  footer a {
    padding: 10px 0;
    font-size: 16px;
    display: inline-block;
  }
}
