@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  background: #f1eee1;
  font-variant-ligatures: common-ligatures;
  font-family: "Alegreya", "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.8em;
  color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-container {
    position: relative;
    padding-bottom: 3em;
    border-bottom: 1px solid #999;
}

header {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-weight: 400;
  padding:
}

.author-info {
    display: flex;
    justify-content: flex-start;
}

.author-info .name {
    font-size: 40px;
    font-weight: 600;
}

header ul {
  display: flex;
}

nav ul a {
  display: block;
  padding: 0 1em;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.content {
    max-width: 700px;
    margin: 40px auto 40px;
}

a, .url {
  transition: color .3s ease;
  text-decoration: underline;
  color: #333;
  text-decoration-color: #999;
}

.author-info a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #0099e5;
}

::-moz-selection { color: #0099e5}
::selection { color: #0099e5; }

.snippet {
    font-style: italic;
}
.snippet, time {
    font-size: 80%;
}

.video-container {
  display: flex;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  overflow: hidden;
  display: block;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 12.5%;
  width: 75%;
  height: 100%;
}
